---
title: "Solving Challenging Math Word Problems Using GPT-4 Code Interpreter with Code-based Self-Verification"
collection: publications
category: conferences
permalink: /publication/2024-01-01-Solving-Challenging-Math-Word-Problems-Using-GPT-4-Code-Interpreter-with-Code-based-Self-Verification
date: 2024-01-01
venue: 'In the proceedings of International Conference on Learning Representations'
paperurl: 'https://proceedings.iclr.cc/paper_files/paper/2024/file/12c45a68e8433b21b91cd47731387fa4-Paper-Conference.pdf'
citation: ' Aojun Zhou,  Ke Wang,  Zimu Lu,  Weikang Shi,  Sichun Luo,  Zipeng Qin,  Shaoqing Lu,  Anya Jia,  Linqi Song,  Mingjie Zhan,  Hongsheng Li, &quot;Solving Challenging Math Word Problems Using GPT-4 Code Interpreter with Code-based Self-Verification.&quot; In the proceedings of International Conference on Learning Representations, 2024.'
---
[Access paper here](https://proceedings.iclr.cc/paper_files/paper/2024/file/12c45a68e8433b21b91cd47731387fa4-Paper-Conference.pdf){:target="_blank"}
